/* Primary colors in one-light theme */
:root {
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 248, 248, 248;
  --color-neutral-100: 241, 241, 241;
  --color-neutral-200: 226, 226, 226;
  --color-neutral-300: 203, 203, 203;
  --color-neutral-400: 188, 188, 188;
  --color-neutral-500: 100, 100, 100;
  --color-neutral-600: 71, 71, 71;
  --color-neutral-700: 45, 45, 45;
  --color-neutral-800: 23, 23, 23;
  --color-neutral-900: 15, 15, 15;

 --color-primary-50: 254, 235, 235;
--color-primary-100: 254, 215, 215;
--color-primary-200: 253, 185, 185;
--color-primary-300: 248, 145, 145;
--color-primary-400: 235, 95, 95;
--color-primary-500: 210, 55, 55;
--color-primary-600: 180, 35, 35;
--color-primary-700: 150, 25, 25;
--color-primary-800: 118, 18, 18;
--color-primary-900: 90, 12, 12;

  --color-secondary-50: 225, 244, 238;
  --color-secondary-100: 182, 227, 212;
  --color-secondary-200: 135, 209, 184;
  --color-secondary-300: 88, 190, 157;
  --color-secondary-400: 55, 175, 137;
  --color-secondary-500: 32, 160, 119;
  --color-secondary-600: 28, 146, 107;
  --color-secondary-700: 22, 130, 92;
  --color-secondary-800: 12, 114, 79;
  --color-secondary-900: 0, 86, 52;
}

/* Cursor Highlighting */
::selection {
  background-color: rgb(var(--color-primary-600));
  color: rgb(var(--color-neutral-50));
}